body {
  margin: auto;
  max-width: 50em;
  font-family: Spectral, monospace;
  background-color: rgb(16, 32, 32);
  font-size: 18px;
  text-align: center;
  color: white;
}
h1 {
  color: rgb(201, 201, 102);
}

.time {
  color: white;
}
.nav {
  background-color: rgb(16, 32, 32);
  color: white;
}

.content {
  background-color: rgb(218, 218, 112);
  color: white;
  padding: 50px;
}

a {
  color: rgb(140, 170, 137);
}

a:hover {
  color: rgb(140, 170, 137);
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

.auth-button {
  color: rgb(16, 32, 32);
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  margin-bottom: 20px;
}

.events-title {
  color: rgb(201, 201, 102);
  font-size: 30px;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.events-nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.event {
  border: solid 1px rgb(140, 170, 137);
  border-radius: 5px;
  padding: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
