<!DOCTYPE html>
<html>
  <head>
    <title>Muokkaa tapahtumaa</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>

  <body>
    <h1>Muokkaa ilmoitusta</h1>
    <form action="{{ url_for('edit_event', event_id=event.id) }}" method="post">
      <p>
        Tapahtuman ajankohta: <br />
        <input
          type="datetime-local"
          name="event_time"
          rows="1"
          cols="25"
          value="{{ event.event_time }}"
          required
        />
      </p>
      <p>
        Otsikko: <br />
        <input
          type="text"
          name="title"
          rows="1"
          cols="25"
          maxlength="50"
          value="{{ event.title }}"
          required
        />
      </p>
      <p>
        Kuvaus: <br />
        <textarea
          name="description"
          rows="10"
          cols="50"
          maxlength="5000"
          value="{{ event.description }}"
          required
        ></textarea>
      </p>
      <p>
        Tapahtuman tyyppi: <br />
        <select name="event_type" required>
          <option value="{{ event.event_type }}" selected>
            {{ event.event_type }}
          </option>
          <option value="" disabled selected>Valitse tapahtuman tyyppi</option>
          <option value="sitsit">Sitsit</option>
          <option value="bileet">Bileet</option>
          <option value="appro">Appro</option>
          <option value="excu">Excu</option>
          <option value="risteily">Risteily</option>
          <option value="liikunta">Liikunta</option>
          <option value="tapaaminen">Tapaaminen</option>
          <option value="muu">Muu</option>
        </select>
      </p>
      <input type="submit" value="Päivitä ilmoitus" />
    </form>
  </body>
</html>
