<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Etusivu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

  </head>

  <body>
    <div class = "header">
    <h1>Tapahtumakalenteri</h1>
    </div>
    <div class = "nav">
    <p>
      <a href="/login"> Kirjaudu sisään </a>
      <a href="/register"> Luo tunnus </a>
    </p>
    <p>
      <a href="/new_event"> Uusi tapahtuma </a>
    </p>
    <a href="/search"> Hae tapahtumia </a>
    <p></p>
    <div class = "header">
      <style>
        ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }
        li {
            margin-bottom: 20px;
        }
        .event-date::before {
            content: "• ";
            color: white;
        }
    </style>
      <h2 style="text-align: center;">Tapahtumat</h2>
      <ul>
        {% for event in events %}
          <li>
            <a href="/event/{{ event.id }}">
              {{ event.title }}
            </a>
            <br>
          <div class = "time">
            <span class="event-date">{{ event.event_time }}</span>
          
          </li>
        {% endfor %}
      </ul>
  </body>
</html>