<!DOCTYPE html>
<html>
  <head>
    
    <title>Kirjautuminen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  </head>

  <body>
    <div class = "header">
    <h1>Tapahtumakalenteri</h1>
    </div>
    <div class = "nav">
    <p>
      <a href="/login"> Kirjaudu sisään </a>
      <a href="/register"> Luo tunnus </a>
    </p>
    <p>
      <a href="/new_event"> Uusi tapahtuma </a>
    </p>

    <p></p>
    <div class = "header">
    <h2>Tapahtumat</h2>
  </div>
    <ul>
      {% for event in events %}
      <li><a href="/event/{{ event_id }}">{{ event.title }}</a></li>
      <li>{{ event.description }}</li>
      {% endfor %}
      </li>
    </ul>
  </body>
</html>
<form action="/search" method="get">
  <p>
    Hakusana:
    {% if query %}
    <input type="text" name="query" value="{{ query }}" />
    {% else %}
    <input type="text" name="query" />
    {% endif %}
  </p>
  <input type="submit" value="Hae" />
</form>
<p>
  <a href="/search"> Hae tapahtumia </a>
  {% if query %}
  <hr />
  <h2>Tulokset</h2>
  
  <ul>
  {% for result in results %}
    <li>
      <a href="/event/{{ result.event_id }}">
        {{ result.event_title }}
      </a>
      <br />
      {{ result.username }}
    </li>  
  {% endfor %}
  </ul>
  {% endif %}