<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body style="display: flex; flex-direction: column; align-items: center">
    <form action="/remove/{{ event.id }}" method="post">
      <p>
        Haluatko varmasti poistaa ilmoituksen tapahtumasta '{{event.title}}'?
      </p>
      <input type="submit" name="cancel" value="Peruuta" />
      <input type="submit" name="continue" value="Jatka" />
    </form>
  </body>
</html>
