<!DOCTYPE html>
<html>
  <head>
    <title>Hae tapahtumia</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <h1>Hae tapahtumia</h1>
    <form action="/search" method="get">
      <p>Hae tapahtumia tyypin perusteella (esim. sitsit, appro, bileet...)</p>
      <input type="text" name="search" placeholder="Hae tapahtumia..." />
      <input type="submit" value="Hae" />
    </form>
    <p>
      <a href="/">Takaisin</a>
    </p>
    {% if query %}
    <h2>Tulokset</h2>
    <ul>
      {% for event in results %}
      <li>
        <a href="/event/{{ event.id }}">{{ event.title }}</a> -
        {{event.event_time }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
